@model CCISBookIT.Models.User // Specifies that the model for this view is of type User

@{
    ViewData["Title"] = "Delete User"; // Sets the title of the view
}

<h1>Delete User</h1> <!-- Main heading -->
<h3>Are you sure you want to delete this user?</h3> <!-- Subheading -->

<div>
    <h4>@Model.FullName</h4> <!-- Displays the full name of the user -->
    <hr /> <!-- Horizontal line for separation -->

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email) <!-- Displays a label for the Email property -->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email) <!-- Displays the email address of the user -->
        </dd>
    </dl>

    <form asp-action="Delete">
        <!-- Form to submit the deletion action -->
        <input type="hidden" asp-for="FacultyID" /> <!-- Hidden field to store the FacultyID of the user to be deleted -->
        <input type="submit" value="Delete" class="btn btn-danger" /> <!-- Delete button -->
        <a asp-action="Index" class="btn btn-secondary">Cancel</a> <!-- Cancel button to go back to the Index page -->
    </form>
</div>
