@model User

@{
	ViewData["Title"] = "Forgot Password";
    Layout = null;
}


<!-- FORGOT PASSWORD PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tab icon & web-app name -->
    <title>CCISBookIT - Forgot Password</title>
    <link rel="icon" type="image" href="/images/CCISBookITLogo.png">

    <!-- Link to .css file -->
    <link rel="stylesheet" href="/css/forgotpassword.css">

    <!-- Import Poppins font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="transparent-container">
        <!-- Logo and web-app name -->
        <img src="/images/CCISBookITLogo.png" alt="Logo" class="logo">
        <h1>FORGOT PASSWORD</h1>
        <p>Enter your Faculty ID and email address and <br> we'll send you a link to reset your password.</p>

        <!-- Link back end to "#" to save the inputted data from the <form> -->
        <!-- Form to collect Faculty ID and email -->
        <form action="#">
            <div class="form-group">
                <!-- Input for Faculty ID -->
                <label asp-for="FacultyID" class="control-label">FACULTY ID</label>
                <input asp-for="FacultyID" class="form-control" />
                <span asp-validation-for="FacultyID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!-- Input for Email -->
                <label asp-for="Email" class="control-label">EMAIL</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="button-container">
                <!-- Resend button & backend link -->
                <button type="submit">Resend Link</button>
            </div>
            <!-- Success message displayed after form submission -->
            <p class="success-message">Email Sent! <img src="/images/checkIcon.png" alt="Check Circle" class="check-circle-icon"></p>
        </form>
    </div>
</body>
</html>