@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCISBookIT - Password Reset Confirmation</title>
    <link rel="icon" type="image" href="/images/CCISBookITLogo.png">
    <link rel="stylesheet" href="/css/forgotpasswordconfirmation.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="confirmation-container">
        <h2>Forgot Password Confirmation</h2>
        <p>Check your email to reset your password.</p>
        <a class="back-to-login" asp-area="" asp-controller="Account" asp-action="Login">Back to Login</a>
    </div>
</body>
</html>