@model CCISBookIT.ViewModels.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CCISBookIT - Forgot Password</title>
    <link rel="icon" type="image" href="/images/CCISBookITLogo.png">

    <link rel="stylesheet" href="/css/forgotpassword.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="transparent-container">
        <img src="/images/CCISBookITLogo.png" alt="Logo" class="logo">
        <h1>FORGOT PASSWORD</h1>
        <p>Enter your Faculty ID and email address and <br> we'll send you a link to reset your password.</p>

        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <input asp-for="Email" type="email" id="email" required>
                <label asp-for="Email">EMAIL ADDRESS</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="button-container">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
</html>