
    <!-- MAIN DASHBOARD -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCIS-BookIT</title>
    <!-- Link to .css file -->
    <link rel="stylesheet" href="dashboard.css">
    <link rel="icon" type="image" href="CCISBookITLogo.png">
    <!-- Import Poppins font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-container">
    <!-- Include Navigation Bar -->
    <iframe src="navigationBar.html" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        <div class="homepageText">
            <h1><span class="yellow">CCIS </span><span class="red">BOOKIT</span></h1>
            <h2 class="appDesc">A Booking Management System</h2>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <h2>ABOUT US</h2>
            <p>CCIS BOOKIT is a web-based application developed to simplify the process of 
                booking of lecture rooms and laboratories for the College of Computer and Information 
                Sciences (CCIS) at the Polytechnic University of the Philippines.</p>
            <p style="color: #ffd700;">&copy; 2024 CCIS-BookIT. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>