
    <!-- NAVIGATION BAR -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CCIS-BookIT</title>
    <!-- Link to .css file -->
    <link rel="stylesheet" href="navigationBar.css">
    <link rel="icon" type="image" href="CCISBookITLogo.png">
    <!-- Import Poppins font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a id="appLogo" href="dashboard.html">
            <img src="CCISBookITLogo.png" alt="CCIS-BookIT LOGO">CCISBookIT</a>
        <div class="navbar-center">
            <a class="navbar-content" href="dashboard.html">HOME</a>
            <a class="navbar-content" href="#">ADD RESERVATION</a>
            <a class="navbar-content" href="#">VIEW RESERVATION</a>
            <a class="navbar-content" href="#">FAQs</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="userIcon.png" alt="Profile Icon">
                <i class="arrow down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#"><img src="userIcon.png" alt="View Profile Icon"> VIEW PROFILE</a>
                <a href="#"><img src="logoutIcon.png" alt="Log Out Icon"> LOG OUT</a>
            </div>
        </div>
    </div>
</body>
</html>