/* FORGOT PASSWORD CONFIRMATION PAGE */

/* Import Poppins SemiBold font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("/images/backgroundIMG.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.confirmation-container {
    width: 500px;
    text-align: center;
    background: linear-gradient(138deg, rgba(255, 255, 255, 0.40) 0%, rgba(134, 12, 12, 0.40) 50%, rgba(244, 238, 92, 0.40) 100%);
    border-radius: 15px;
    border: 1px white solid;
    padding: 50px 20px;
}

h2 {
    font-family: 'Arial Black', sans-serif;
    font-size: 30px;
    color: #800000;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 0.5px white;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.back-to-login {
    padding: 10px 25px;
    background-color: #b11e1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

    .back-to-login:hover {
        background-color: #ffd700;
    }
