
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure the body takes the full viewport height */
    margin: 0; /* Remove any default margin */

    background-image: url('/images/backgroundBLUR.jpg'); /* Add your background image path here */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Make sure the body takes the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make sure the container takes the full height of the body */
    margin-top: 40px !important;
}

/* Style for the transparent container */
.transparent-container {
    width: 500px;
    height: 600px;
    text-align: center;
    background: linear-gradient(138deg, rgba(255, 255, 255, 0.40) 0%, rgba(134, 12, 12, 0.40) 50%, rgba(244, 238, 92, 0.40) 100%); /* Gradient background */
    border-radius: 15px;
    border: 1px white solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Style for the logo */
.logo {
    width: 120px;
    height: auto;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 40px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 0.5px white;
    margin-bottom: 10px;
}

span.yellow {
    color: #ffd700; /* (CCIS) Set text color to yellow */
}

span.red {
    color: #800000; /* (BOOKIT) Set text color to red */
}

.h4, h4 {
    font-size: 20px;
    font-weight: bold;
    color: #fff !important;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

/* Style for the forms */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Style for labels (FACULTY ID & PASSWORD) */
.control-label {
    display: block;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: normal;
    color: #fff !important;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.text-danger {
    font-size: 16px;
    font-weight: bold;
    color: #800000 !important;
}

/* Style for the  buttons */
.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    text-decoration: none;
}

.btn-Login,
.btn-Cancel {
    padding: 10px 20px;
    background-color: #b11e1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

    .btn-Login:hover,
    .btn-Cancel:hover {
        background-color: #ffd700;
        color: #800000;
        text-decoration: none;
    }

    .btn-Cancel a {
        text-decoration: none;
    }

.text-center {
    margin-top: 20px;
    margin-bottom: 10px;
}

    .text-center p {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #fff !important;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
        margin-bottom: 5px;
    }

.btn-Register a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #0a5ac7;
}

    .btn-Register a:hover {
        color: #40c057;
    }
