html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 5px;
}

.loginpage {
    background-image: url('/images/bg-pup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; /* Ensure the background covers the full viewport height */
}

.loginform {
    width: 720px;
    height: 1000px;
    background: linear-gradient(138deg, rgba(255, 255, 255, 0.40) 0%, rgba(134.35, 12.75, 12.75, 0.40) 50%, rgba(244.46, 238.36, 92.13, 0.40) 100%);
    border-radius: 15px;
    border: 1px white solid;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-pup {
    width: 208px;
    height: 207px;
    display: block; /*centering the logo form*/
    margin: 0 auto;
}

