html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 5px;
}

.loginpage {
    background-image: url('/images/bg-pup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; /* Ensure the background covers the full viewport height */
}

.loginform {
    width: 720px;
    height: 1000px;
    background: linear-gradient(138deg, rgba(255, 255, 255, 0.40) 0%, rgba(134.35, 12.75, 12.75, 0.40) 50%, rgba(244.46, 238.36, 92.13, 0.40) 100%);
    border-radius: 15px;
    border: 1px white solid;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-pup {
    width: 208px;
    height: 207px;
    display: block; /*centering the logo form*/
    margin: 0 auto;
}

/* NAVIGATION BAR STYLING*/

/* Import Poppins SemiBold font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Apply Poppins SemiBold to the body */
body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 70px;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 4px 2px -2px gray; /* Adds the shadow effect */
}

#appLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #8b0000;
    font-size: 22px;
    font-weight: 600;
}

    #appLogo img {
        height: 45px;
        margin-right: 10px;
    }

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-content {
    display: block;
    color: #8b0000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

    .navbar-content:hover {
        background-color: #ddd;
        color: #5D0101;
    }

.dropdown {
    display: flex;
    align-items: center;
}

    .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: #8b0000;
        padding: 14px 20px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 600;
    }

        .dropdown .dropbtn img {
            height: 30px;
            margin-right: 5px;
        }

.dropdown-content {
    display: none;
    position: absolute;
    right: 0; /* Align dropdown content to the right */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 120px;
    margin-right: 40px;
}

    .dropdown-content a {
        float: none;
        color: #8b0000;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-align: left;
        font-weight: 600;
    }

        .dropdown-content a img {
            height: 30px;
            margin-right: 10px;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow.down {
    border: solid #8b0000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* DASHBOARD STYLING*/

/* Import Poppins SemiBold font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Apply Poppins SemiBold to the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background-container {
    position: relative; /* Positioning context for the blur */
    height: 100vh; /* Sets the height to 100% of the viewport height */
    overflow: hidden; /* Ensures content doesn't spill out */
    margin: 0; /* Removes any default margin */
}

    .background-container::before {
        content: "";
        background-image: url('backgroundIMG.jpg');
        background-size: cover; /* Ensures the image covers the entire background */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(3px); /* Applies the blur effect */
        z-index: -1; /* Places the background behind the content */
    }

.homepageText {
    text-align: center;
}

h1 {
    font-family: arial black;
    font-size: 80px;
    font-weight: bold;
    color: #ffd700; /* Fallback color */
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); /* Shadow for better visibility */
    -webkit-text-stroke: 2px white; /* White border around the letters */
    text-stroke: 2px white; /* For non-webkit browsers */
    margin-bottom: 10px; /* Reduce the bottom margin to bring the texts closer */
}

span.yellow {
    color: #ffd700;
}

span.red {
    color: #800000;
}

.appDesc {
    font-family: arial;
    font-size: 50px; /* Adjust the size as needed */
    color: white;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Shadow for better visibility */
    -webkit-text-stroke: 0.8px #5e6062; /* White border around the letters */
    text-stroke: 0.8px #5e6062; /* For non-webkit browsers */
    margin-top: 0; /* Remove the top margin */
}

footer {
    text-align: center;
    height: auto;
    padding: 2px;
    background-color: #800000;
    width: 100%; /* Take the full width of the viewport */
}

.footer-content {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

