@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@section Styles {
    <link rel="stylesheet" href="/css/mainLayout.css" />
}

<ul>
    @if (signInManager.IsSignedIn(User))
    {
        var user = await userManager.GetUserAsync(User);
        if (await userManager.IsInRoleAsync(user, "Admin"))
        {
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Room" asp-action="Index">Rooms</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="User" asp-action="Index">View Accounts</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Booking" asp-action="Index">View Reservations</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="#" asp-action="#">Add Reservations</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Booking" asp-action="Index">View Reservations</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="#" asp-action="#">FAQs</a>
            </li>
        }
        <li class="dropdown">
            <a href="#" id="navbarDropdown" class="dropdown-toggle">
                @User.Identity!.Name!
            </a>
            <ul class="dropdown-content" aria-labelledby="navbarDropdown">
                <li>
                    <!-- Modify this link to point to the user's profile detail view -->
                    <a class="dropdown-item" href="@Url.Action("Detail", "User", new { id = user.FacultyID })">
                        <img src="/images/userIcon.png" alt="View Profile Icon">View Profile
                    </a>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        <img src="/images/logoutIcon.png" alt="Log Out Icon">Logout
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="navbar-right">
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="navbar-right">
            <a  asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>